/* your styles go here */

.galleryImg{
	display: inline-block;
}



.imageSize{
	width: 300px;
	height: 200px;
	display: inline-block;
}





.gallery{
	height: 100vh;
}
.imageGallery{
	background-repeat: no-repeat;
	background-size: cover;
	height: 20%;
	width: 33.33%;
	display: inline-block;
	background-position: center;
}

.modal-body > img{
	width: 100%;
}

.modal-dialog{
	width: 90%;
}